{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admi</title>
    <link href="{% static 'css/Admin.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="contenedor">
        <nav>
            <img src="{% static 'img/logo.png' %}" alt="Logo" width="200" height="70">
            <div class="subconte">
            <ul>
              <div class="usu">
                <li><img style="width: 30px; height: auto;  margin-right: 5px; " src="{% static 'Iconos/usuario.png' %}"><a class="te"href="">Administrador</a></li>
                <li><a class="te"href="{% url 'main_admin' %}">Inicio</a></li>
                <li><a class="te"href="{% url 'citas_admin' %}">Citas</a></li>
                <li><a class="te"href="{% url 'pacientes_admin' %}">Pacientes</a></li>
                <li><a class="te"href="{% url 'medicos_admin' %}">Especialidades</a></li>
                <li><a class="te"href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
            </ul>
            </div>
        </nav>
    </div>
    <div id="mensajes">
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
  </div>
    <main>
    <div class="horizontal">
        <div class="Nt">
            <p> <img src="{% static 'Iconos/genteicon.png' %}" alt="Icono" > Total pacientes<span id="totalpac"> numero</span></p>
        </div>
        <div class="Nt">
            <p> <img src="{% static 'Iconos/genteicon.png' %}" alt="Icono" > Total de Médicos<span id="totalpac"> numero</span></p>
        </div>
        <div class="Nt">
            <p> <img src="{% static 'Iconos/genteicon.png' %}" alt="Icono" > Total de Citas<span id="totalpac"> numero</span></p>
        </div>
    </div>
    <div class="table-container">
        <div class="bor">
        <table>
            <thead>
              <tr class="borde" style="border-radius: 20px;">
                <th scope="col">#</th>
                <th scope="col">PACIENTE</th>
                <th scope="col">ESPECIALISTA</th>
                <th scope="col">FECHA</th>
                <th scope="col">ESTADO </th>
              </tr>
            </thead>
            <tbody>
              {% for cita in citas %}
                <tr class="borde">
                  <th scope="row">{{cita.paciente.id_paciente}}</th>
                  <th scope="col">{{cita.paciente.Nombre}} {{cita.paciente.Apellido}}</th>
                  <th scope="col">{{cita.medico.Nombre}} {{cita.medico.Apellido}}</th>
                  <th scope="col">{{cita.fecha_cita}}</th>
                  <th scope="col">{{cita.estado}}</th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
      <form action="" method="POST">
        {% csrf_token %}
        <button>Enviar correo electrónico</button>
      </form>
    </main>
</body>
</html>