<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ver Citas - Administrador</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    Admin
    <button id="CerrarBtn"><a href="{% url 'cerrar_sesion' %}" style="color: white; text-decoration: none;">Cerrar Sesión</a></button>
</body>
</html>