*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.contenedor{
    background:#fff;
    width: 100%;
    height: 100%;
    justify-content: center;
}
nav{
    align-items: center;  
    justify-content: space-between;
    display: flex;
    background: #B7DBF4;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    flex-grow: 1;
    box-shadow: 0 25px 20px -20px rgba(0, 0,0,0.4);
}
ul{
    background: #c1d3e6;
    border-radius: 50px;
}
nav ul li{
    display: inline-block;
    padding: 0px 20px;

}
.te{
    color: #3b3636;
    text-decoration: none;
}
.te:hover{
    color:#4e8ab4;
}
.seleccion{
    transform: scale(1.1);
    background-color: #68a1ca;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
/*Pagina*/
.horizontal {
    display: flex; 
    align-items: center;
    
}
.descarga button{
    display: flex; 
    align-items: center;
    padding: 10px 70px;
    margin-top: 50%;
    margin-left: 55%;
    border:none;
    border-radius: 15px;
    font-size: 14px;
    background: #3555FF;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.Nt{
    display: flex;
    align-items: center;
    padding: 10px 70px;
    margin-top: 110px;
    margin-left: 30%;
    margin-right: 9px;
    border:none;
    border-radius: 15px;
    font-size: 14px;
    background: #3555FF;
    color: rgb(255, 255, 255);
}
.descarga button img,
.Nt img {
  width: 50px; 
  height: auto; 
  margin-right: 5px; 
}
.table-container {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #e2eafc;
    border: 2px solid #a0b1d0;
    border-radius: 15px;
    padding: 20px;
}
table {
    width: 100%;
}
tbody{
    width: 100%;
}
th, td {
    padding: 15px;
}
.borde{
    border: 2px solid #a0b1d0;  
}
th {
    font-size: 1.1em;
}
tbody tr:hover {
    background-color: #c5d1eb;
}
.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
}

.action-btn img {
    width: 20px;
    height: 20px;
}